<%- include('./partials/header')%>
<div class="container w-100 d-flex justify-content-center align-center">
  <div class="login">
    <form action="/send-mail" method="post" class="form" >
        <div class="header">Forget Password</div>
        <div class="inputs">
<input class="input" type="email" placeholder="Email" name="email">
<button class="signin-btn">Send Mail</button>
<a class="fs-5 text-decoration-none forget" href="/">Home</a>
</form>
</div>
</div>
<%- include('./partials/footer') %>


  




  
