<%- include('./partials/header')%>
<div class="container w-100 d-flex justify-content-center align-center">
  <div class="login">
    <form action="/code/<%=id%>" method="post" class="form" >
        <div class="header">Enter code</div>
        <div class="inputs">
<input class="input" type="password" placeholder="code" name="code">
<button class="signin-btn">Submit Code</button>
<a class="fs-5 text-decoration-none forget" href="/">Home</a>
</form>
<%- include('./partials/footer') %>


  




  
