<%- include('./partials/header')%>
<!--  -->
<div class="container w-100 d-flex justify-content-center align-center">
  <div class="login">
    <form action="/forgetpassword/<%=id%>" method="post" class="form" >
        <div class="header">Enter new password</div>
        <div class="inputs">
<input class="input" type="password" placeholder="Password" name="newpassword">
<button class="signin-btn">Change Password</button>
<a class="fs-5 text-decoration-none forget" href="/">Home</a>
</form>
</div>
</div>
<%- include('./partials/footer') %>


  




  
