<%- include('./partials/header')%>

  <div class="hero-wrap">
    <div class="main">
      <h1>The Best Free Online Resume Builder</h1>
      <div class="main-image">
        <figure>
          <img
            src="images/desktop-with-resume-.svg"
            alt=""
            class="resume-img"
          />
        </figure>
      </div>
      <p>
        A Quick and Easy Way to Create Your Professional Resume.
        Professional Resume Templates Choose modern and
        professional templates. All of which can be customized to your liking.
        Fast and Easy to Use Our resume builder lets you easily and quickly
        create a resume using our resume wizard Signup & built your Awesome Resume.
      </p>
    </div>
  </div>
      
<%- include('./partials/footer')%>
