<%- include('./partials/header')%>

<div class="login">
    <form class="form" action="/signup" method="post">
    <div class="header">Sign Up</div>
    <div class="inputs">
        <input class="input" type="email" placeholder="Email" name="email">
        <input class="input" type="password" placeholder="Password" name="password">
        <input  class="input" type="text" placeholder="Username" name="username">
        <input class="input" type="text" placeholder="Contact" name="contact">
        <button class="signin-btn">SignUP</button>
        <p class="signup-link">Already have an account? <a  href="/signin">Sign in</a></p>
    </div>
</form>
</div>


<%- include('./partials/footer') %>


  




  
